In [1]:
# syntax
# lambda input : expression

In [4]:
a = lambda x : x*x

In [5]:
a(5)

25

In [6]:
a = lambda x,y : x+y

In [7]:
a(4,5)

9

In [8]:
# difference between normal and lambda functions

# 1. lambda function has no return Value
# 2. one line 
# 3. not used for code reusability 
# 4. no name

# why
# we don't use them in normal scenario but with higher order functions
# higher order functions are the ones that require another function as input to work or return another function

In [9]:
a = lambda x : x[0] == 'a'

In [10]:
a("apple")

True

In [11]:
a("banana")

False

In [12]:
a = lambda x : "even" if x%2 == 0 else "odd"

In [13]:
a(4)

'even'

In [14]:
a(5)

'odd'

In [16]:
type(a)

function

In [17]:
#HOF
# usually normal functions have only one behaviour i.e. they perform only one type of task 
# but in case of hof we can tell it how to behave and hence perform different types of tasks

def return_sum(func,l):
    sum =0 
    for i in l :
        if func(i) :
            sum+=i
    return sum

l = [11,14,21,23,56,78,45, 29, 28]

x = lambda x : x%2 == 0

y = lambda x : x%2 != 0

z = lambda x : x%3 == 0

print(return_sum(x,l))
print(return_sum(y,l))
print(return_sum(z,l))

176
129
144

In [18]:
# special higher order fucntions in python

# 1. map
# 2. filter
# 3. reduce

In [19]:
# map( lambda func, iterable like list,tuple,string)
# allows us to perform an operation on every elemet of iterable
# returns a map object
# convert it into something like list

# lamba x : operation

# x is elemt of list
# operation is operation on that element

# map

In [20]:
l=[1,2,3,4,5,6,7]
list(map(lambda x : x*2, l))

[2, 4, 6, 8, 10, 12, 14]

In [21]:
list(map(lambda x : x%2==0, l))

[False, True, False, True, False, True, False]

In [22]:
l = [
  {'a' : 1, 'b' : 2, 'c':3},
  {'a' : 4, 'b' : 5, 'c':6},
  {'a' : 7, 'b' : 8, 'c':9}
 ]

In [23]:
list(map(lambda x : x['a'], l ))

[1, 4, 7]

In [24]:
map(lambda x : x['a'], l )

# filter

In [25]:
# filter is just like map. it just applies a condiion on the iterable and filters out elements or works accordingly
# whereas map performs operations on all elements

In [26]:
l=[1,2,3,4,5,6,7]
list(filter(lambda x : x>4 , l))

[5, 6, 7]

In [27]:
l = ['apple','mango','orange','guava']

list(filter(lambda x : 'e' in x, l))

['apple', 'orange']

In [28]:
# if we had used map for the same lambda finc, we would get a list of true and false
# but filter gives elements filtered out accordingly

In [29]:
l=[1,2,3,4,5,6,7]
list(filter(lambda x : x*4 , l))       #no condition so everything returned

[1, 2, 3, 4, 5, 6, 7]

# reduce

In [30]:
# is in functools Module 
# as the name suggests it reduces the list 
# requires atleast twi=o imputs in lambda func
# doesn't need conversion to list or iterable as returns only one thing

In [31]:
from functools import reduce

In [33]:
l = [1,2,3,4,5,6]

reduce(lambda x,y : x+y, l )

21

In [34]:
reduce(lambda x,y : x if x>y else y, l)

6

In [35]:
reduce(lambda x,y : x if x<y else y, l)

1

In [37]:
reduce(lambda x,y,z : x+y+z, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

# main conclusion

In [ ]:
# 1. map performs operation on all elements of list and returns all elements with operation performed
# 2. filter returns elements after filtering on some condition. lambda func can have only condition 
# 3. reduce reduces the list to one output by performing operation on two inputs(list elements). 
# cannot take one or three or any no of elements other than 2
# 4. map and filter need to be converted into iterable like list

# list comprehension

In [38]:
# 1. existing list

l = [1,2,3,4,5,6,7]

m = [x*2 for x in l]
m

[2, 4, 6, 8, 10, 12, 14]

In [40]:
# 2. non existing list
m = [ i**2 for i in range(1,11)]
m

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
m = [x**2 for x in range(1,11) if x%2!=0]
m

[1, 9, 25, 49, 81]

# dictionary comprehension

In [46]:
d = dict([('name','manya'),('age',19),('gender','female')])
d

{'name': 'manya', 'age': 19, 'gender': 'female'}

In [47]:
d.items()

dict_items([('name', 'manya'), ('age', 19), ('gender', 'female')])

In [49]:
new_d = {key:value for key,value in d.items() if len(key)>3}
new_d

{'name': 'manya', 'gender': 'female'}

In [50]:
l = [1,2,3,4,5,6,7]

In [52]:
d = { i:i**2 for i in l}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [53]:
d = { i:i**2 for i in l if i%2==0}
d

{2: 4, 4: 16, 6: 36}